@font-face {
    font-family: Ubuntu;
    src: url(fnt/Ubuntu-R.ttf);
}

body {
  font-family: Ubuntu;
  font-size: 16px;

  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  width:100%;
  height:98%;
  overflow:hidden;
  background-color:#bbb;
  background-image:url('svg/gears.svg');
/*  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; */
}

span {
  font-family: Ubuntu;
  font-size:16px;

   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

a,span {
  -o-transition:background-color .25s;
  -ms-transition:background-color .25s;
  -moz-transition:background-color .25s;
  -webkit-transition:background-color .25s;
  /* ...and now for the proper property */
  transition:background-color .25s;
}

div { /*,p,a,span */
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-color:#fff;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;

  -o-transition:background-color .25s;
  -ms-transition:background-color .25s;
  -moz-transition:background-color .25s;
  -webkit-transition:background-color .25s;
   /* ...and now for the proper property */
  transition:background-color .25s;
}

h2 {
    -ms-user-select: text;
    -khtml-user-select: text;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

td,th {
  border-color:#fff;
}

.trWin {
  position:absolute;
  z-index:150;

/*  -o-transition:width .5s, height .5s, opacity .5s;
  -ms-transition:width .5s, height .5s, opacity  .5s;
  -moz-transition:width .5s, height .5s, opacity  .5s;
  -webkit-transition:width .5s, height .5s, opacity .5s;
  transition:width .5s, height .5s, opacity .5s; */
}

@keyframes bounce {
    0% { transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.1% { transform: matrix3d(0.287, 0, 0, 0, 0, 0.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.8% { transform: matrix3d(0.364, 0, 0, 0, 0, 0.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.9% { transform: matrix3d(0.376, 0, 0, 0, 0, 0.414, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.2% { transform: matrix3d(0.53, 0, 0, 0, 0, 0.605, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.61% { transform: matrix3d(0.697, 0, 0, 0, 0, 0.803, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.81% { transform: matrix3d(0.72, 0, 0, 0, 0, 0.829, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.3% { transform: matrix3d(0.775, 0, 0, 0, 0, 0.888, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.4% { transform: matrix3d(0.968, 0, 0, 0, 0, 1.063, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.41% { transform: matrix3d(0.968, 0, 0, 0, 0, 1.063, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.71% { transform: matrix3d(0.99, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.81% { transform: matrix3d(1.096, 0, 0, 0, 0, 1.112, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    11.11% { transform: matrix3d(1.105, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    11.55% { transform: matrix3d(1.096, 0, 0, 0, 0, 1.083, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.16% { transform: matrix3d(1.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    15.02% { transform: matrix3d(1.024, 0, 0, 0, 0, 0.933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    15.57% { transform: matrix3d(1.014, 0, 0, 0, 0, 0.921, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.62% { transform: matrix3d(0.998, 0, 0, 0, 0, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.92% { transform: matrix3d(0.981, 0, 0, 0, 0, 0.902, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.48% { transform: matrix3d(0.975, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.94% { transform: matrix3d(0.957, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    22.68% { transform: matrix3d(0.956, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.33% { transform: matrix3d(0.962, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    27.43% { transform: matrix3d(0.972, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    32.19% { transform: matrix3d(0.994, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    33.33% { transform: matrix3d(0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.95% { transform: matrix3d(1.001, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    38.84% { transform: matrix3d(1.002, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.05% { transform: matrix3d(1.002, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    46.47% { transform: matrix3d(1, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.77% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    55.66% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    55.98% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    61.06% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    61.73% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    77.88% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.28% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes sway {
    0% { transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.13% { transform: matrix3d(0.556, 0, 0, 0, 0, 0.594, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.9% { transform: matrix3d(0.586, 0, 0, 0, 0, 0.646, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.94% { transform: matrix3d(0.588, 0, 0, 0, 0, 0.649, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.25% { transform: matrix3d(0.647, 0, 0, 0, 0, 0.738, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.71% { transform: matrix3d(0.717, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.88% { transform: matrix3d(0.725, 0, 0, 0, 0, 0.835, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.38% { transform: matrix3d(0.749, 0, 0, 0, 0, 0.859, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.51% { transform: matrix3d(0.844, 0, 0, 0, 0, 0.928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.82% { transform: matrix3d(0.857, 0, 0, 0, 0, 0.933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.95% { transform: matrix3d(0.926, 0, 0, 0, 0, 0.94, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    11.7% { transform: matrix3d(0.944, 0, 0, 0, 0, 0.934, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.01% { transform: matrix3d(0.951, 0, 0, 0, 0, 0.93, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.33% { transform: matrix3d(0.971, 0, 0, 0, 0, 0.915, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    15.2% { transform: matrix3d(0.986, 0, 0, 0, 0, 0.898, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    15.77% { transform: matrix3d(0.987, 0, 0, 0, 0, 0.896, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.14% { transform: matrix3d(0.986, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.22% { transform: matrix3d(0.986, 0, 0, 0, 0, 0.908, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.71% { transform: matrix3d(0.985, 0, 0, 0, 0, 0.913, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    22.21% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    22.96% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.52% { transform: matrix3d(0.98, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.65% { transform: matrix3d(0.982, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    27.78% { transform: matrix3d(0.988, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    30.73% { transform: matrix3d(0.997, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    32.6% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    37.41% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.54% { transform: matrix3d(1.006, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    47.05% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    53.43% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    55.76% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    56.68% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    62.5% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    80.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

.bounce-target {
    animation: sway 1100ms linear both;
}

.window, .trWin {
  color: #000;

  background-color:#C0DEFA;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
  overflow:hidden;

  border: 1px solid #ddd;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 5px 5px 8px rgba(82, 168, 236, 0.6);

   -o-transition:all 0.25s linear;
   -ms-transition:all 0.25s linear;
   -moz-transition:all 0.25s linear;
   -webkit-transition:all 0.25s linear;
   /* ...and now for the proper property */
   transition:all 0.25s linear;

}

.windowTitle {
   color:#000;
   height:16px;
   background-color:#55D1FF;
   display:inline-block;
/*   background-color:#2ac5ff; */
   text-align:center;
   font-weight:bold;
   font-size:16px;
   width:93%;
   float:left;
  }


.windowRight {
  width:6%;
  height:16px;
  border:0;
  text-align:center;
  float:right;
}

.windowClose {
   width:48%;
   height:100%;
   line-height:100%;
   display:inline-block;
   background-color:#55D1FF;
/*   background-color:#2ac5ff; */
   text-align:center;
}

.windowTitle:hover, .windowClose:hover {
   background-color:#1ab5ef;
}

.windowClose a {
  color:red;
}

.plusBut {
  background-color:#fff;
  color:#000;
  font-size:12px;
  font-weight:bold;
}

.plusBut:hover {
  background-color:#A8F6FF;
}

#startButton {
  color:blue;
  background-color:#75D1FF;
  position:absolute;
  left:5px;
  top:3px;
  width: 5%;
  height:20px;
  line-height:20px;
  text-align:center;
  vertical-align:middle;
  border:1px outset #fff;
}

#startButton:hover {
  background-color:#2ac5ff;

}

#startButton span {
  text-decoration:none;
  font-weight:bold;
}

.startButtonTxt {
  width:100%;
  text-align:center;
  position:absolute;
  font-weight:bold;
  font-size:14px;
}

.startButtonTxt a {
  color:#000;
}

.startButtonTxt a:hover {
  background-color:#2ac5ff;
}

.okDiv {
  position:absolute;
  bottom:2%;
  left:45%;

}

.YNDiv {
  position:absolute;
  bottom:2%;
}

.okDiv, .YNDiv, .okDiv, .butDiv {
  background-color:#75D1FF;
  font-size:14px;
  font-weight:bold;
  border:1px outset #fff;
}

.okDiv:hover, .YNDiv:hover, .butDiv:hover {
  background-color: #2ac5ff;
}

.okDiv a, .YNDiv a, .butDiv a, .okDiv span, .YNDiv span, .butDiv span {
  color: #000;
  text-decoration:none;

  cursor:pointer;
  padding:0 10px 0 10px;
}


#taskBar {
  color:black;
  background-color:#C0DEFA;
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:28px;
  border:1px outset #fff;
  z-Index:150;
  opacity:.9;
}

span.barClose {
   position:absolute;
   top:1px;
   right:3px;

   height:75%;
   width:20px;
   display:inline;
   float:right;

   border:1px outset #fff;

   background-color:#999;
   text-align:center;

   cursor:pointer;
}

span.barClose:hover {
   background-color:#f55;
}

.taskbarItemHolder {
  font-size:14px;
  font-weight:bold;
  text-align:center;
  top:4px;
  height:20px;
  line-height:20px;
  float:left;
  display:block;
  background-color:#75D1FF;
  border-color:#999;
}

.taskbarItemHolder:hover {
  background-color:#2ac5ff;
}
.taskbarItem {
  top:10%;
  left:0;
  width:100%;
  text-align:center;
  position:absolute;
}

.taskbarItem span {
  color:#000;
  text-decoration:none;
  font-weight:bold;
}

.contextMenuDiv {
  position:absolute;
  width:15%;
  height:0;
  background-color:#FFFFCC;
  z-index:150;
  border:2px outset;
  border-color:#999;

  overflow:auto;
  color:#000;
  background-image:url('svg/task.svg');
  background-repeat:no-repeat;
  background-position:left;

  opacity:.8;
  transform: scale(1,0);
  transform-origin: 50% 100%;
  transition: all 0.2s ease-in-out;
}

.contextMenuAnim {
    transform: scale(1,1);
}

.pcStatsTable td,th {
 padding: 3px 0 3px 0;
 vertical-align:middle;
 font-size:16px;
}

.pcStatsTable td, th span {
  height:18px;
  line-height:18px;
}

.repairTable, .pcStatsTable {
  width:100%;
}

.rt-min-wid {
  min-width:1000px;
}

.repairTable td,th, .pcStatsTable td,th {
  box-shadow: 0 0 5px #fff;
  padding: 0 8px 5px 5px;
  border: 1px solid #fff;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  vertical-align:middle;

   transition: background-color .15s ease-out;
   -moz-transition: background-color .15s ease-out;
   -webkit-transition: background-color .15s ease-out;
}

/*
.repairTable tr[class="reptableRow"]:hover td {
  background-color:#76FFFF;
}*/

.repairTable a, .pcStatsTable a {
 color:#000;
 text-decoration:none;
}

.repairTable a:hover, .pcStatsTable a:hover {
  color:#444;
}

.tblButton {
 border:1px outset #fff;
 cursor:pointer;
 background-color:#75D1FF;
 color:#000;
}

.tblButton:hover {
  background-color:#2ac5ff;

}

.contextMenu  {
   color: #000;
   position:absolute;
   top:2%;
   left:3%;
}

.contextCaller a, .smBut, h2 a {
   color:#000;
   vertical-align:middle;
   background-color:#75D1FF;
   font-family:Ubuntu;
   padding:1px 10px 1px 10px;
   text-decoration:none;
   cursor:pointer;

   border: 1px outset;
   border-color:#fff;

   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}

.contextCaller a:visited, .smBut:visited {
  color:#000;
}

.contextCaller a:hover, .smBut:hover {
  background-color:#2ac5ff;
/*border:2px outset;*/
}

.contextCaller a.fillCell {
  cursor:pointer;
  display:block;
  padding:0;
  width:100%;
  height:100%;
  line-height:100%;
}

ul.contextMenu li {
   margin: 3px;
   padding: 3px;
   list-style-type: none;
}

.contextMenu a {
 color:#000;
 font-size:16px;
 font-weight:bold;
 font-family:Ubuntu;
}


.contextMenu a:hover {
  background-color:#FFA347;
}

/* Tooltip styles */

.tooltip, .arrow:after {
    background: #f2ef8a;
    border: 1px solid #000;
}

.tooltip {
/*    pointer-events: none; */
    opacity: 0;
    display: inline-block;
    cursor:pointer;
    position: absolute;
    padding: 10px 20px;
    color: #000;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    font: bold 13px Ubuntu;
    font-stretch: condensed;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 0 7px #515151;
    z-index:200;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    -webkit-box-shadow: 6px 5px 9px -9px #515151,
    5px 6px 9px -9px #515151;
    -moz-box-shadow: 6px 5px 9px -9px #515151,
    5px 6px 9px -9px #515151;
    box-shadow: 6px 5px 9px -9px #515151,
    5px 6px 9px -9px #515151;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
}

.tooltip.active {
    opacity: 1;
    margin-top: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -o-transition:      all 0.2s ease;
}
.tooltip.out {
    opacity: 0;
    margin-top: -20px;
}

/* End tooltip styles */

.scBoxTitle {
  font-family:Ubuntu;
  font-size:14px;
  font-weight:bold;
  color:#000;
}

/* Calendar properties */

			.calendar {
				font-family: Ubuntu;
				font-size: 11px;
				background-color: #F8CAA2;
				color: #333;
				border: 1px solid #DDD;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				padding: 2px;
				width: 280px;
			}

			.calendar .months {
				background-color: #F4A460;
				border: 1px solid #E78F08;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
				color: #FFF;
				padding: 3px;
				text-align: center;
			}

			.calendar .prevMonth,
			.calendar .nextMonth {
				padding: 0;
			}

			.calendar .prevMonth {
				float: left;
			}

			.calendar .nextMonth {
				float: right;
			}

			.calendar .currentMonth {
				margin: 0 auto;
			}

			.calendar .months .prevMonth,
			.calendar .months .nextMonth {
				color: #FFF;
				text-decoration: none;
				padding: 0 2px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
				cursor: pointer;

        -o-transition:background-color .25s;
        -ms-transition:background-color .25s;
        -moz-transition:background-color .25s;
        -webkit-transition:background-color .25s;
        /* ...and now for the proper property */
        transition:background-color .25s;
      }

			.calendar .months .prevMonth:hover,
			.calendar .months .nextMonth:hover {
				background-color: #FDF5CE;
				color: #C77405;
			}

			.calendar table {
				border-collapse: collapse;
				padding: 0;
				font-size: 10px;
				width: 100%;
			}

			.calendar th {
				text-align: center;
				padding:0;
				font-size:14px;
			}

			.calendar td {
				text-align: right;
				padding: 1px;
				width: 14.3%;
			}

			.calendar td span {
				display: block;
				color: #1C94C4;
				background-color: #F6F6F6;
				border: 1px solid #CCC;
				text-decoration: none;
				padding: 2px;
        font-size:11px;
        cursor: pointer;
				-o-transition:background-color .25s;
        -ms-transition:background-color .25s;
        -moz-transition:background-color .25s;
        -webkit-transition:background-color .25s;
        /* ...and now for the proper property */
        transition:background-color .25s;

			}

			.calendar td span:hover {
				color: #C77405;
				background-color: #FDF5CE;
				border: 1px solid #FBCB09;
			}

			.calendar td.today span {
				background-color: #FFF0A5;
				border: 1px solid #FED22F;
				color: #363636;
			}

/* End of Calendar properties */
textarea,select, input:not([type=checkbox]):not([type=radio]) {
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   -o-appearance: none;
   -ms-appearance: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;

   border-radius:5px;
   background: linear-gradient(#FAFAFA, #F4F4F4 50%, #C5C5C5);


}

input, textarea,select {
   font-size:16px;
  }


*::-webkit-input-placeholder {
    color: red;
    font-weight: bold;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: red;
    font-weight: bold;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: red;
    font-weight: bold;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
    font-weight: bold;
}

select, select > options {
  background: url(svg/15xvbd5.svg), linear-gradient(#FAFAFA, #F4F4F4 50%, #C5C5C5); /*#FAFAFA, #F4F4F4 50%, #C5C5C5*/
   background-position: 99% center;
   background-repeat: no-repeat;
   padding:3px 18px 3px 3px;
}

select::-ms-expand { display: none; }

input:not([type=submit]):not([type=button]):not([type=radio]),textarea {
  padding: 3px 0px 3px 3px;
}

input:not([type=submit]):not([type=button]):not([type=radio]),textarea,select, select > options {
  color:#00a;
  background-color:#fff;

  margin:5px;

  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  margin: 5px 5px 3px 5px;
  border: 1px solid rgba(81, 203, 238, 1);
}

input:not([type=submit]):not([type=button]):focus, textarea:focus, select:focus {
  border: 1px solid #000;
 }

input:not([type=submit]):not([type=button]):disabled,textarea:disabled,select:disabled {
  color:#000;
  background-color:#fff;
}

div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: auto;
    width: auto;
    float: left;
    display:inline;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    float:left;
    border: 1px solid #ffffff;
}

div.img span {
 color : #000;
}

div.img span:hover {
  color:#555;
}

div.img a:hover img {
    border:1px outset #0000ff;
}

.img {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
 }

.img:hover {
  opacity: 0.5;
 }

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}


h2 {
  font-size:20px;
  font-weight:bold;
  color:blue;
  font-family:Ubuntu;
}

h1, p {
  color: #333;
}

.defSave {
     vertical-align:-2px;
     align-self:center;
     font-size:14px;
}

.rSave {
  font-size:16px;
}

.smSave {
  font-size:12px;
}

.defSave, .rSave, .smSave {
  font-weight:bold;
  cursor:pointer;
}

.compCtr {
  font-size:14px;
  font-weight:bold;
  display:block;
  padding-top:5px;
  padding-left:15px;
  float:left;
}

.stLogTab {
  min-width:55%;
  text-align:right;
  font-size:14px;
}

.infoCell {
  font-size:18px;
  font-weight:bold;
  text-align:center;
  background-color:#99AEC3;
}

#aNewRep {
  float:right;
  cursor:pointer;
  padding:2px 0 2px 0;
}

.prevImg {
  width:110px;
  height:90px;
}

#repPhotos_thumbDiv {
  position:absolute;
  top:3%;
  left:0%;
  width:99%;
  height:22%;
  border: 1px solid;
  border-color:#fff;
  display:inline;
  overflow-y:auto;
  overflow-x:auto;

}

#repPhotos_preview {
  position:absolute;
  top:26%;
  left:7%;
  height:67%;
  border:0;
}

.resShadow {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  z-index:199;

  background-color:#444;
  opacity:0.6;
}

.rtState {
  margin:3px;
  height:25px;
  line-height:25px;
  width:45%;
  float:left;
}

.rtSate:after {
  content:"";
  clear:both;
}

.rtState input[type="radio"] {
  display:inline;
  margin:0 3px 0 0;
  height:97%;
  line-height:97%;
  width:15%;
  float:left;
}

.rtState label {
  width:70%;
  height:97%;
  float:left;
  display:block;
  text-align:center;
  color:#000;

   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;

   box-shadow: 0 0 5px #fff;
}

.rtState label:HOVER {
  color:#fff;
}

.rtState label:FOCUS {
  color:red;
}

.srvComm {
  position:absolute;
  left:40%;
  top:1%;
  width:20%;
  height:20px;
  line-height:20px;
  color:#fff;
  background-color:red;
  text-align:center;
  font-size:13px;
  font-weight:bold;
  z-index:200;
}

.textEditor {
  background-color:#fff;
  width:95%;
  height:92%;
  overflow:scroll;
  border:1px outset #aaa;
}

 .com-title {
   font-weight:bold;
   font-size:18px;
   cursor:pointer;
 }

/* CSS Tabs */
.tabs {
  width:90%;
  height:98%;
  float:none;
  list-style:none;
  position:relative;
  margin: 5px 0 0 2%;
  overflow:hidden;
}

.tabs li {
  float:left;
  display:inline-block;
}

.tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

.tabs label {
    display: block;
    padding: 5px 21px;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    background: #aaa;
    cursor: pointer;
    position: relative;
    top: 4px;
  }

.tabs label:hover {
      background: #999;
  }

.tabs .tab-content{
    z-index: 2;
    display: none;
    font-size: 17px;
    left: 0;
    background: #fff;
    -ms-user-select: text;
    -khtml-user-select: text;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;

    width: 70%;
    overflow:auto;
}

.tabs .tab-content a {
  cursor:pointer;
  font-weight:bold;
}

.tabs .tab-content a:hover {
  color:#ff6666;
}

.tabs .tab-content .myMsg {
  color:green;
}

.tabs .tab-content .othMsg {
  color:red;
}

.tabs .usersdiv {
  display:block;
  float:right;
  font-size:16px;
  background: #fff;
  right:0;

  width:23%;
  overflow:auto;
}

.tabs .usersdiv label {
  clear:both;
  float:none;
  background:#fff;
}

.tabs .usersdiv label:hover {
  background:#888;
 }

.tabs .usersdiv, .tabs .tab-content {
  top: 28px;
  position: absolute;
  padding:10px;
  height:73%;
}

.tabs .bot-div {
  clear:both;
  height:35px;
  line-height:35px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}

.tabs li [id^="tab"]:checked + label {
    top: 0;
    padding-top: 10px;
    background: #fff;
  }

.tabs li [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
    clear:both;
  }

.tabs:after {
  content:"";
  clear:both;
}

.svc_table {
    float: right;
    font-weight:bold;
}

/* Font Auto Resizing  */

  @media only screen and (max-width:1600px) {
   body {
    font-size:14px;
   }

   span {
    font-size:15px;
   }

   .pcStatsTable td,th {
     font-size:15px;
   }

  .contextMenu a {
    font-size:14px;
   }

   input, textarea,select {
    font-size:14px;
   }


     .com-title {
     font-size:18px;
    }
  }


  @media only screen and (max-width:1300px) {
   body {
    font-size:11px;
   }

   span {
    font-size:12px;
   }

   .pcStatsTable td,th {
     font-size:12px;
   }

  .contextMenu a {
    font-size:11px;
   }

   input, textarea,select {
    font-size:12px;
   }

  .com-title {
     font-size:16px;
    }
  }


  @media only screen and (max-height:700px) {
   #taskBar {
     z-index:1;
   }
  }


  /* Mailing styles */
 .mTable {
   width:95%;
   border:0;
  }

 .mfTitle {
    font-size:24px;
    font-weight:bold;
    font-family:Comic Sans MS;
    width:65%;
  }

 .mpTitle {
   font-size:18px;
   font-weight:bold;
   text-align:center;

  }

  .mpDate {
   font-size:14px;
   text-align:center;
   font-weight:bold;
  }

  .mcomStyle,.mcomStyleU {
   margin-left:1cm;
   font-size:16px;
  }

  .mcomStyleU {
   text-decoration:underline;
  }

  .maddrStyle {
   text-align:right;
   vertical-align: middle;
   font-size:12px;
  }

  .mSvcTitle {
   font-size:20px;
   text-align:center;
   background-color:#aaa;
  }
